* {
    box-sizing: border-box;
}

body {
    font-family:"Archivo Black", sans-serif;
    background-color: rgb(0, 9, 76);
    color:rgb(0, 140, 255);
    font-size: larger;
    text-align:center; 
}

nav {
    background-color: rgb(0, 2, 19);
}

nav a {
    text-decoration: none;
    color: aliceblue;
    margin: 0px 10px;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    margin: 40px 5%;
    color: rgb(204, 204, 204);
}

h3 {
    color: rgb(0, 140, 255);
}

p {
    color: rgb(207, 207, 207);
}

div, section {
    color: rgb(162, 162, 162);
}

#tarjetas {
    display: flex;  
    justify-content: space-around;
}

#tarjetas p {
    color: darkblue;
}

.tarjeta{
    background-color:rgb(214, 214, 214);
    justify-content: inherit;
    text-align: center;
    width: 450px;
    border: 1px solid rgb(0, 88, 88);
    border-radius: 10px;
    margin: 0px 10px;
}

#nick, #pascal{
    margin: 40px 0px;
}

#oliver {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.tarjeta img {
    width: 100%;
    height: 500px;
}

#campeonato {
    border-collapse: collapse;
    display: flex;
    justify-content: center;
}

#campeonato th, #campeonato td {
    background-color: rgb(214, 214, 214);
    border: 5px solid black;
    padding: 5px 20px;
}

#campeonato th {
    color: darkblue;
    
}

#campeonato td {
    color: black;
}

#autos{
    display: flex;
    justify-content: space-around;
}

#noticias img{
    height: 200px;
}