* {
    box-sizing: border-box;
}

body {
    font-family: "Rajdhani", "Archivo Black", sans-serif;
    font-weight: 700;
    background-color: rgb(0, 6, 50);
    color:rgb(0, 140, 255);
    font-size: 140%;
    text-align:center; 
}

nav {
    background-color: rgb(0, 2, 19);
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0.5em;
    position: fixed;
    z-index: 1000;
    top: 0%;
    left: 0%;
    right: 0%;
}

nav img {
    height: 50px;
}

.elemento-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: aliceblue;
    padding: 0.5em 1em;
}

.elemento-nav:hover {
    background-color: #00015b;
    transition: 0.3s;
    cursor: pointer;
}

#hablemos {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: rgb(0, 76, 255);
    border-radius: 38%;
    position: fixed;
    right: 0.5%;
    /*bottom: 2%;*/
    bottom: 19%;
    z-index: 1000;
}

#hablemos img {
    width: 38px;
    padding-bottom: 1.5px;
}

#hablemos:hover {
    background-color: #00015b;
    transition: 0.3s;
}

header {
    background-color: #00015b;
    padding-bottom: 20px;
    padding-top: 73px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header img{
    width: 60rem;
    /*height: 300px;*/
}

h1 {
    color: rgb(214, 214, 214);
    font-size: 250%;
    margin-bottom: 60px;
}

h2 {
    margin: 40px 5%;
    margin-top: 150px;
    color: rgb(0, 76, 255);
    font-size: 200%;
}

h3 {
    color: rgb(0, 204, 255);
}

p {
    color: rgb(207, 207, 207);
}

div, section {
    color: rgb(162, 162, 162);
}

#tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

#tarjetas p {
    color: darkblue;
    
}

.tarjeta{
    background-color:rgb(214, 214, 214);
    justify-content: inherit;
    text-align: center;
    width: 360px;
    border-radius: 10px;
    margin: 0px 10px;
    box-shadow: 0 4px 8px rgba(0, 76, 255, 0.5);
}

.tarjeta img {
    width: 100%;
    height: 80%;
}

#nick, #pascal{
    margin: 40px 0px;
}

#oliver {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

#campeonato {
    border-collapse: collapse;
    display: flex;
    justify-content: center;
}

#campeonato th, #campeonato td {
    background-color: rgb(214, 214, 214);
    border: 5px solid black;
    padding: 5px 20px;
}

#campeonato th {
    color: darkblue;
}

#campeonato td {
    color: black;
}

#autos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

#autos img {
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 30px;
}

#noticias img{
    height: 200px;
}

.otra-noticia {
    border-top: 2px solid rgb(0, 76, 255);
    border-bottom: 2px solid rgb(0, 76, 255);
    padding: 25px 0;
}

#otras-noticias div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

#otras-noticias img {
    width: 44rem;
    height: 28rem;
}

#info-noticia p {
    font-size: 85%;
}

#otras-noticias #info-noticia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    gap: 0;
    width: 40%;
}

#info-noticia h3 {
    margin-top: 3%;
    margin-bottom: 0;
}

.titulo-noticia {
    text-decoration: none;
    font-size: 300%;
    margin: 0 0;
    padding: 0 0;
    color: aliceblue;
    line-height: 0.8;
    margin-top: -30px;
    margin-bottom: 5px;
}

.titulo-noticia:hover {
    color: rgb(151, 151, 151);
    transition: 0.3s;
    cursor: pointer;
}

.boton-ver {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    background-color: aliceblue;
    color: rgb(0, 6, 50);
    border-radius: 30px;
    text-decoration: none;
}

.boton-ver:hover {
    background-color: rgb(151, 151, 151);
    transition: 0.3s;
    cursor: pointer;
}

#siguenos {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#siguenos ul {
    list-style: none;
    padding: 0;
}

#cookies {
    background-color: #00015b;
    border-radius: 15px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
}

#cookies button {
    background-color:rgb(214, 214, 214);
    cursor: pointer;
    padding: 0.5em 1em;
    border-radius: 15px;
}

#cookies button:hover {
    background-color:rgb(125, 125, 125);
    cursor: pointer;
}

footer {
    background-color: #00015b;
    position: absolute;
    left: 0;
    right: 0;
    padding: 24px 16px;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer a {
    text-decoration: none;
    color: rgb(0, 166, 255);
    font-size: 0.85rem;
}

footer a:hover {
    color: rgb(0, 76, 255);
    transition: 0.3s;
    cursor: pointer;
}

.footer-cols {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 16px;
}

footer small {
    font-size: 0.85rem;
    color: rgb(0, 76, 255);
}