* {
    box-sizing: border-box;
}

body {
    font-family:"Archivo Black", sans-serif;
    background-color: darkblue;
    color:rgb(0, 234, 255);
    font-size: larger;
    text-align:center; 
}

/*nav {
    text-align:center; 
}*/

nav a {
    text-decoration: none;
    color: aliceblue;
    margin: 0px 10px;
}

/*header {
    text-align: center;
}*/

h2 {
    margin: 40px 5%;
    color: rgb(204, 204, 204);
}

h3, p {
    color: rgb(162, 162, 162);
}

#tarjetas {
    justify-content: center;
    display: flex;  
}

#tarjetas p {
    color: darkblue;
}

.tarjeta{
    background-color:aliceblue;
    justify-content: inherit;
    text-align: center;
    width: 450px;
    border: 1px solid rgb(0, 88, 88);
    border-radius: 10px;
    margin: 0px 10px;
}

#nick, #pascal{
    margin: 40px 0px;
}

.tarjeta img {
    width: 100%;
    height: 500px;
}

#campeonato {
    border-collapse: collapse;
    background-color: aliceblue;
    margin-left: 39%;
}

#campeonato th, #campeonato td {
    border: 5px solid black;
    padding: 5px 20px;
}

#campeonato th {
    color: darkblue;
}

#campeonato td {
    color: black;
}