* {
    box-sizing: border-box;
}

body {
    font-family: "Rajdhani", "Archivo Black", sans-serif;
    font-weight: 700;
    background-color: rgb(0, 6, 50);
    color:rgb(0, 140, 255);
    font-size: 140%;
    text-align:center; 
}

nav {
    background-color: rgb(0, 2, 19);
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    padding: 0.5em;
}

nav a {
    text-decoration: none;
    color: aliceblue;
    padding: 0.5em 1em;
}

nav a:hover {
    background-color: #00015b;
    transition: 0.3s;
}

header {
    background-color: #00015b;
    padding: 30px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header img{
    width: 60rem;
    /*height: 300px;*/
}

h2 {
    margin: 40px 5%;
    color: rgb(0, 76, 255);
}

h3 {
    color: rgb(0, 166, 255);
}

p {
    color: rgb(207, 207, 207);
}

div, section {
    color: rgb(162, 162, 162);
}

#tarjetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

#tarjetas p {
    color: darkblue;
}

.tarjeta{
    background-color:rgb(214, 214, 214);
    justify-content: inherit;
    text-align: center;
    width: 360px;
    border-radius: 10px;
    margin: 0px 10px;
}

.tarjeta img {
    width: 100%;
    height: 80%;
}

#nick, #pascal{
    margin: 40px 0px;
}

#oliver {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

#campeonato {
    border-collapse: collapse;
    display: flex;
    justify-content: center;
}

#campeonato th, #campeonato td {
    background-color: rgb(214, 214, 214);
    border: 5px solid black;
    padding: 5px 20px;
}

#campeonato th {
    color: darkblue;
    
}

#campeonato td {
    color: black;
}

#autos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

#autos img {
    padding-bottom: 30px;
    padding-right: 30px;
    padding-left: 30px;
}

#noticias img{
    height: 200px;
}

#siguenos {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#siguenos ul {
    list-style: none;
    padding: 0;
}

#cookies {
    background-color: #00015b;
    border-radius: 15px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#cookies button {
    background-color:rgb(214, 214, 214);
    cursor: pointer;
    padding: 0.5em 1em;
    border-radius: 8px;
}

#cookies button:hover {
    background-color:rgb(125, 125, 125);
}